.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  /*width: 256px;*/
  width:60%;
  min-width:256px;
  max-width:400px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color:black;
}

.slideout-panel {
  min-height:45px;
  position:relative;
  z-index: 1;
  will-change: transform;
  background-color:#000;
  box-shadow:5px 1px 30px #333;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.toggle-button{
  width:45px;
  height:45px;
  margin-left:20px;
  /*padding-left:11px;
  padding-right:11px;*/
  font-size: 1.8em;
  color:#FFF;
  float:left;
}

.back-btn{
  width:45px;
  margin-left:5px;
  float:left;
}

.back-btn:hover,.back-btn:active{
  opacity:.8;
}

.hilite{
  background-color:#FFCC00;
  color:#000;
}

.nohilite{
  background-color:#000;
  color:#FFF;
}

.fader{
  opacity:1;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.7);
}

.nav-item{
  padding-left:35px;
  text-align:left;
}

.nav-txt{
  padding-top:11px;
  font-size:1.4em;
  font-family:"source_sans_probold",serif;
  text-transform:uppercase;
}

p.nav-txt{
  text-align:center;
  margin-left:-5px;
}

  /*margin-left:45%;*/
/*  margin-left:42%;
*/

.nav-text{
  width:85%;
  margin-left:-5px;
/*  margin-left:-45px;
*/  text-align:center;
  display:inline-block;
}

.nav-btn{
  width:15%;
  float:left;
  display:inline-block;
}



@media(min-width:600px){
  p.nav-txt{font-size:2.1em;/*Was-5px*/margin-left:-18px;padding-top:30px;}
  .nav-text{margin-left:-18px;}
  
  .slideout-panel{height:90px;}
  .toggle-button{height:90px;width:90px;margin-left:20px;font-size:40px;}
  .back-btn{/*Was 90px*/height:77px;width:77px;margin-left:10px;/*NEW*/margin-top:4px;}
  .slideout-menu{max-width:600px;}
/*  .front-card{max-width:250px;}
card-text{font-size:1.9em;}*/

}